*{
	margin: 0;
	padding: 0;
}

body{
	background-size: cover;
}
.loader-body{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -5;
	overflow: hidden;
}
.loader-body img{
	width: 30vw;
}
/* .loader-body video{
} */

.loader-musique{
	width: 15vw;
}
a.logo-link{
	color: rgba(0, 0, 0, 0.788);
	text-decoration: none;
	font-size: 6vh;
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo-link i{
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.logos-link{
	position: fixed;
	width: 100%;
	left: 0;
	padding: 0 20vw;
	box-sizing: border-box;
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-size: 3rem!important;
}


.username{
	text-transform: capitalize;
}

@keyframes trouve{
	50%{
		color: white;
		background: forestgreen;
	}
}
@keyframes rate{
	50%{
		color: white;
		background: red;
	}
}
@keyframes bande{
	0%{
		width: 0vw;
		left: 0;
	}
	50%{
		width: 100vw;
		right: 0;
	}
	100%{
		width: 0vw;
		right: 0;	
	}
}

.violet{
	background: purple!important;
	border: 2px solid purple!important;
}

.violet:hover{
	color: purple;
}
.violet:active{
	color: purple;
}