/*Messages*/
.messages{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 30vw;
	max-width: 55vw;
	padding: 2vw;
}
.messages .message{
	display: block;
	margin-bottom: 2vh;
	text-align: center;
	padding: 2vh 2vw;
	border-radius: 4px;
	background: rgba(10,10,10,0.9);
	color: white;
	font-family: "lato";
	font-size: 1.3vw;
	min-width: 100%;
}
.messages .message.erreur{
	background: rgba(250,3,3,.85);
}
.messages .message.info{
	background: darkblue;	
}
.messages .message .circle{
	border: 1px solid white;
	border-radius: 3vw;
	width: 1.3vw;
	height: 1.3vw;
	font-size: 1vw;
	margin-right: 1vw;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



section{
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	position: relative;
}

section .page{
	position: absolute;
	top: 0;
	left: 0;

	font-family: "open sans";

	width: 100vw;
	height: 100vh;
	display: none;
	transform: scale(0);
	opacity: 1;
	transition: all 1s ease;
/*	background: rgba(125,255,152,0.2);*/
	background: #e5ffeaeb;
}
section .page.auto{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transform: scale(0);
	opacity: 0;
	animation: dissipe 20s ease;
}
section .page .part1{
	color: coral;
	font-family: "Indiana";
	font-size: 8vw;.
}
section .page .second{
	margin: 5vh 0;
	font-size: 2vw;
	color: #555;
	position: relative;
	width: 40%;
	height: 5vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section .page .second span{
	z-index: 20;
	padding: 0 2vw;
	padding-bottom: 1.5vh;
	display: flex;
	font-family: "open sans";
	flex-direction: column;
	justify-content: center;
}
section .page .second::before{
	position: absolute;
	left: 0;
	content: "";
	background: silver;
	width: 30%;
	height: 1px;
}
section .page .second::after{
	position: absolute;
	right: 0;
	content: "";
	background: silver;
	width: 30%;
	height: 1px;
}
section .page .part2{
	color: dodgerblue;
	font-family: "open sans";
	font-weight: 700;
	font-size: 5vw;
}

@keyframes dissipe{
	0%{
		opacity: 1;
		transform: scale(1);
	}
	70%{
		opacity: 1;
		transform: scale(1);
	}
	90%{
		opacity: 0;
		transform: scale(0.98);	
	}
	99%{
		transform: scale(0);		
	}
}
@keyframes entree{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	100%{
		opacity: 1;
		transform: scale(1);	
	}

}

/*Page 2*/
section .page2{
	//animation: entree 1s ease;
	transform: scale(1);	

	display: none;	
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
section .page2 .btn{
	width: 100%;
	font-family: "open sans";
	font-size: 1.5vw;
	padding: 2.5vh 5vw;
	min-width: 20vw;
	border-radius: 4px;
	background: dodgerblue;
	color: white;
	cursor: pointer;
	border: 2px solid dodgerblue;
	transition: all 0.5s ease;
}
section .page2 .btn:hover{
	color: dodgerblue;
	background: transparent;
	font-weight: 700;
}

/*Page 3*/
section .page3{

	//animation: entree 1s ease;
	transform: scale(1);

	display: none;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section .page3 .forms{
	display: none;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section .page3 .forms.connexion-form{
	display: flex;

	min-width: 50%;
	min-height: 70%;
}
section .page3 .forms.inscription-form{
	display: none;

	min-width: 50%;
	min-height: 70%;
}
section .page3 .forms .titre{
	color: coral;
	font-family: "Indiana";
	font-size: 5vw;
	width: ;
	padding:0 1.5vw;
	padding-bottom: -1.5vh;
	margin-bottom: 5vh;
	border-bottom: 3px solid coral;
}
section .page3 .forms .error{
	border: 2px solid red;
	color: red;
	border-radius: 5px;
	padding: 1vh 1.5vw;
	margin-bottom: 5vh; 
}
section .page3 .forms .form{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section .page3 .forms .form .second{
	font-size: 1vw;
	width: 100%;
	margin: 2vh 0;
}
section .page3 .forms .form .second span{
	padding: 0 1vw;	
	padding-bottom: 0;	
}		
section .page3 .forms .form .champ{
	font-family: "open sans";
	font-size: 1.2vw;
	padding: 2vh 1vw;
	width: 100%;
	margin: 1vh 0;
	border: none;
	border: 1px solid silver;
}
section .page3 .forms .form .btn.champ{
	cursor: pointer;
	border: 1px solid dodgerblue;
	border-radius: 2px;
	background: dodgerblue;
	color: white;
}
section .page3 .forms .form .btn.champ.autre{
	border: 1px solid orangered;
	background: orangered;
}


/*Page 4*/
section .page4{

	//animation: entree 1s ease;
	transform: scale(1);

	padding: 5vh 0;
	box-sizing: border-box;

	display: none;	
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
section .page4 .part1{
	font-size: 5vw;
}
section .page4 .avatar{
	width: 60vw;
	min-height: 20vh;
	text-align: center;
}
section .page4 .avatar .titre{
	margin-bottom: 5vh;
	font-size: 2vw;
	color: dodgerblue;
}
section .page4 .container-avatar{
	width: 100%;
	margin-bottom: 5vh;
	height: 50vh;
	display: inline-block;
	//flex-wrap: wrap;
	overflow: auto;
}
section .page4 .container-avatar .load{
	width: 5vw;

}
section .page4 .container-avatar figure{
	display: inline-block;
	background: white;
	margin: 0.25vw;
	width: 4vw;
	height: 4vw;
	border: 2px solid #888;
	cursor: pointer;
}
section .page4 .container-avatar figure:hover{
	border: 2px solid dodgerblue;
}
section .page4 .container-avatar figure.choose{
	width: 15vw;
	height: 15vw;
}
section .page4 .container-avatar figure .img-avatar{
	width: 100%;
	height: 100%;
}

section .page4 .part2{
	width: 100vw;
	text-align: right;
	padding-right: 5vw; 
}
section .page4 .part2 .btn{
	color: white;
	background: orangered;
	border: 3px solid orangered;
	border-radius: 4px;
	width: 14vw;
	height: 7vh;
	cursor: pointer;
	font-family: "lato";
	font-size: 1.3vw;
}
section .page4 .part2 .btn:hover{
	color: orangered;
	background: white;
	font-weight: 700;
}



/*Page 5 -- Quizz*/
section .page5{
	transform: scale(1);
	display: none;

	background: rgba(125,255,152,0.72);
	background: rgba(29, 55, 24,0.38);
	position: relative;

}
section .page5 .fin{
	position: absolute;
	width: 100%;
	height: 100%;
	text-shadow: 1px 1px 2px coral;
	transform: scale(1);

	font-size: 10vw;
	color: orangered;
	font-family: "Indiana";
	background: rgba(25,255,255,0.4);
	background: rgba(25,25,25,0.5);
	background: rgba(29, 55, 24,0.8);
	background: #E5FFEA;

	z-index: 10;
	display: none;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section .page5 .container-quiz{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;

	display: flex;	
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
section .page5 .container-quiz .bloc-gauche{
	height: 100vh;
	width: 80vw;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 22vh;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut .col{
	padding: 1vh;
	display: flex;
	justify-content: space-between;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut .entete{
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut .entete .titre{
	font-family: "Indiana";
	color: orangered;
	font-size: 4.5vw;
	text-shadow: 1px 1px 2px coral;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut .entete .user{
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: space-between;

	font-family: "proxima";
	font-family: "Black Diamond";
	font-family: "highlander";
	letter-spacing: 0.21vw;
	font-size: 3.3vw;
	font-weight: 900;

	color: white;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut .entete .user img{
	width: 3vw;
	margin-left: 2vw;
	margin-right: 0.5vw;
	background: white;
	padding: 0.51vw;
	border-radius: 5vw;
	transition: all 0.3s ease;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-haut .entete .user img:hover{
	box-shadow: 0px 0px 10px #555;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-bas{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-bas .questions{
	height: 70%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 900;
	font-size: 2vw;
	font-family: "proxima";
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-bas .propositions{
//	background: rgba(255,255,255,0.5);
	height: 30%;
	display: flex;
	font-weight: 700;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-bas .propositions .ligne{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50%;
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-bas .propositions .ligne .col{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	align-items: center;

	color: white;
	font-size: 1.5vw;

	transition: all 0.3s ease;
	background: rgba(12,12,12,0.51);
}
section .page5 .container-quiz .bloc-gauche .bloc-gauche-bas .propositions .ligne .col:hover{
	background: orange;
	background: rgba(255,70,0,1);
	background: whitesmoke;
	color: #333;
}
section .page5 .container-quiz .bloc-droite{
	background: rgba(30,144,255,0.8);
	background: forestgreen;
	background: rgba(34,139,34, 0.8);
	background: orangered;
	background: rgba(255,70,0,0.8);
	color: white;
	height: 100vh;
	width: 22.5vw;

	padding: 1vh;
	box-sizing: border-box;
}
section .page5 .container-quiz .bloc-droite .top{
	height: 50vh;
	overflow: hidden;
	text-align: left;	
	font-size: 1.32vw;
	text-align: right;
}
section .page5 .container-quiz .bloc-droite .top .score{
	display: flex;
	flex-direction: column;	
}
section .page5 .container-quiz .bloc-droite .top .score .valeur{
	font-size: 3vw;
}

section .page5 .container-quiz .bloc-droite .top .timer{
	display: flex;
	flex-direction: column;
}
section .page5 .container-quiz .bloc-droite .top .timer .valeur{
	font-size: 3vw;
}

section .page5 .container-quiz .bloc-droite .center{
	height: 40vh;
	overflow: hidden;
	text-align: left;	
	font-size: 1.32vw;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
section .page5 .container-quiz .bloc-droite .bottom{
	height: 10vh;
	color: #ddd;
	font-family: "open sansl";
	text-align: center;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Page 6*/
section .page6{
	transform: scale(1);

	position: relative;

	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
section .page6 .part1{
	font-size: 3vw;
	color: #543;
	word-spacing: 0.51vw;
	text-align: center;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: "Indiana";
}
section .page6 .part1 em{
	color: orangered;
	font-family: "highlander";
}

section .page6 .part2{
	text-align: right;
	width: 90%;
}
section .page6 .part2 .btn{
	color: white;
	background: orangered;
	border: 3px solid orangered;
	border-radius: 4px;
	width: 14vw;
	height: 7vh;
	cursor: pointer;
	font-family: "lato";
	font-size: 1.3vw;
}
section .page6 .part2 .btn:hover{
	color: orangered;
	background: white;
	font-weight: 700;
}

/* Page 7 -- Commentaires */
section .page7{
	transform: scale(1);
	opacity: 1;

	position: relative;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section .page7 .part1{

	height: 85%;
	width: 100%;

}
section .page7 .part1 .commentaires{
	overflow: hidden;
	
	font-size: 3vw;
	color: #543;
	word-spacing: 0.51vw;
	text-align: center;
	font-family: "Indiana";
	font-family: "Lato";
	
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
section .page7 .part1 .commentaires .new-comment{
	overflow: hidden;
	width: 50%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
section .page7 .part1 .commentaires .new-comment .entete{
	padding: 0 2vw;
	border-bottom: 2px solid orangered; 
	text-align: center;
	font-family: "Indiana";
	color: orangered;	
}
section .page7 .part1 .commentaires .new-comment .comment{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 70%;
	height: 60%;
}
section .page7 .part1 .commentaires .profile{
	background: transparent;
	width: 5vw;
	height: 5vw;
	overflow: hidden;
	background: white;
	border: 1px solid silver;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section .page7 .part1 .commentaires .profile img{
	width: 90%;
	height: 90%;
}
section .page7 .part1 .commentaires .new-comment .comment .text{
	background: maroon;
	width: 80%;
	height: 100%;
}
section .page7 .part1 .commentaires .new-comment .comment .text textarea{
	resize: none;
	height: 100%;
	width: 100%;
	padding: 1vw;
	font-size: 1.3vw;
	font-family: "open sans";
	border: 1px solid silver;
}
section .page7 .part1 .commentaires .new-comment .send{
	width: 70%;
	text-align: right;
}
section .page7 .part1 .commentaires .new-comment .send .btn{
	font-family: "lato";
	font-size: 1.3vw;
	color: orangered;
	border: 3px solid orangered;
	background: white;
	border-radius: 3px;
	width: 40%;
	height: 7vh;
	cursor: pointer;
}
section .page7 .part1 .commentaires .new-comment .send .btn:hover{
	background: orangered;
	color: white;
}
section .page7 .part1 .commentaires .comments{
	width: 55%;
	opacity: 1;
	border-left: 2px solid #333; 
	overflow: auto;
	display: block;
	height: 80vh;
}
section .page7 .part1 .commentaires .comments .commentaire{
	margin-bottom: 2vh;
	background: white;
	margin: 2vh auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding: 2vw;
	padding-bottom: 1vh;
}
section .page7 .part1 .commentaires .comments .commentaire .comment{
	width: 90%;
}
section .page7 .part1 .commentaires .comments .commentaire .comment .info{
	font-size: 1.2vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5vw;
}
section .page7 .part1 .commentaires .comments .commentaire .comment .info .nom{
	color: orangered;
}
section .page7 .part1 .commentaires .comments .commentaire .comment .text{
	background: rgba(10,10,10,0.12);
	font-size: 1.3vw;
	text-align: left;
	padding: 1vw;
}
section .page7 .part1 em{
	font-family: "Indiana";
}

section .page7 .part2{
	text-align: right;
	width: 90%;
}
section .page7 .part2 .btn{
	color: white;
	background: orangered;
	border: 3px solid orangered;
	border-radius: 4px;
	width: 14vw;
	height: 7vh;
	cursor: pointer;
	font-family: "lato";
	font-size: 1.3vw;
}
section .page7 .part2 .btn:hover{
	color: orangered;
	background: white;
	font-weight: 700;
}

/*Page 8 */
section .page8{
	transform: scale(1);
	opacity: 1;

	position: relative;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section .page8 .btn{
	width: 100%;
	font-family: "open sans";
	font-size: 1.4vw;
	padding: 2.5vh 6vw;
	border-radius: 4px;
	background: dodgerblue;
	color: white;
	cursor: pointer;
	border: 2px solid dodgerblue;
	transition: all 0.5s ease;
}
section .page .btn.coral{
	border: 2px solid coral;
	background: coral;
}
section .page .btn.orange{
	border: 2px solid orangered;
	background: orangered;
}
section .page8 .btn:hover{
	color: dodgerblue;
	background: transparent;
	font-weight: 700;
}
section .page .btn.coral:hover{
	color: coral;
	background: transparent;
	font-weight: 700;
}
section .page .btn.orange:hover{
	color: orangered;
	background: transparent;
	font-weight: 700;
}

section .page .btn.orange:hover{
	color: orangered;
	background: transparent;
	font-weight: 700;
}



/*Page 9 -- Classement*/
section .page9{
	transform: scale(1);
	opacity: 1;
	background: #0c256bbe;
	position: relative;
	padding: 2vw;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
section .page9 .entete{
	height: 10vh;
	
	padding: 1vh 2vw;
	padding-top: 1vh;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	color: orangered;
	color: white;
	font-family: "Indiana";
	font-size: 3.5vh;
	position: relative;
}
section .page9 .entete::after{
	position: absolute;
	content: "";
	z-index: -1;
	width: 0;
	height: 10vh;
	top: 0;
	animation: bande 1s ease;
	background: orangered;
}
section .page9 .corps{
	height: 85vh;
	width: 100%;
	padding-bottom: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section .page9 .corps .ti{
	color: white;
	text-align: center;
	font-family: "indiana";
	font-size: 2rem;
	font-weight: 100;
}
section .page9 .corps .liste{
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: auto;
	box-shadow: 0px 1px 0px white;
}
section .page9 .corps .liste ol{
	margin: auto;
	/* background: linear-gradient(135deg, lightyellow, white, lightyellow, white, orange 500%); */
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	min-height: 30vh;
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 3px;
}
section .page9 .corps .liste ol li{
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	margin: 0.2rem;
	padding: 0.3rem;
	border-radius: 4px;
	background: #3e7df3;
	color: white;
	position: relative;
	height: 10vh;
}
section .page9 .corps .liste ol li.leader-first{
	background: #e2b903;
}
section .page9 .corps .liste ol li.leader-second{
	background: #688095;
}
section .page9 .corps .liste ol li.leader-third{
	background: #bd8850;
}
section .page9 .corps .liste ol li.autres-first{
	background: #c5a102;
}
section .page9 .corps .liste ol li.autres-second{
	background: #576a7a;
}
section .page9 .corps .liste ol li.autres-third{
	background: #946a3d;
}
section .page9 .corps .liste ol li img{
	width: 80%;
	margin: 0.5rem 0;
	background: #FFFFFF66;
	border-radius: 200rem;
	display: inline-block;
	border: 3px solid white;
	text-align: left;
}
section .page9 .corps .liste ol li span.num{
	background: #00000044;
	width: 3%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	text-align: center;
}
section .page9 .corps .liste ol li span.img{
	width: 5%;
}
section .page9 .corps .liste ol li span.nom{
	width: 55%;
	text-transform: capitalize;
	border-right: 1px solid #FFFFFFAA;
}
section .page9 .corps .liste ol li span.points{
	width: 30%;
}

section .page9 .part2{
	width: 100%;
}
section .page9 .part2 .btn{
	width: 100%;
	font-family: "open sans";
	font-size: 3vh;
	padding: 2vh 6vw;
	border-radius: 4px;
	background: orangered;
	color: white;
	cursor: pointer;
	border: 2px solid orangered;
	transition: all 0.5s ease;
}

section .page9 .part2 .btn:hover{
	color: orangered;
	background: transparent;
	font-weight: 700;
}


/* 
section .page9{
	transform: scale(1);
	opacity: 1;

	position: relative;
	padding: 2vw;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section .page9 .entete{
	height: 10vh;

	padding: 5vh 2vw;
	padding-top: 1vh;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	//text-shadow: 1px 1px 2px coral;

	color: orangered;
	font-family: "Indiana";
	font-size: 4vw;
	position: relative;
}
section .page9 .entete::after{
	position: absolute;
	content: "";
	z-index: -1;
	width: 0;
	height: 10vh;
	top: 0;
	animation: bande 1s ease;
	background: orange;
}

section .page9 .corps{
	height: 80vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section .page9 .corps .liste{
	height: 85%;
	width: 100%;
	overflow: auto;
	box-shadow: -10px 0px 5px #aaa inset;
}
section .page9 .corps .liste ol{
	margin: 1vw;
	background: linear-gradient(135deg, lightyellow, white, lightyellow, white, orange 500%);
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;
	width: 25%;
	min-height: 30vh;
	padding: 1vw;
	border-radius: 5px;
	box-shadow: 0px 0px 15px #ccc;
}
section .page9 .corps .liste ol li{
	padding: 1vh;
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
section .page9 .corps .liste ol li span.num{
	width: 10%;
}
section .page9 .corps .liste ol li span.nom{
	width: 60%;
}
section .page9 .corps .liste ol li span.points{
	width: 30%;
}
section .page9 .corps .part2 {

} 
section .page9 .corps .part2 .btn{
	width: 20%;
	font-family: "open sans";
	font-size: 1.4vw;
	padding: 2vh 6vw;
	border-radius: 4px;
	background: orangered;
	color: white;
	cursor: pointer;
	border: 2px solid orangered;
	transition: all 0.5s ease;
}

section .page9 .corps .part2 .btn:hover{
	color: orangered;
	background: transparent;
	font-weight: 700;
}
*/






.hide-on-large{
	display: none;
}