@font-face{

	+

	font-family: "Music";

	src: url("music/music tfb.ttf");

}

@font-face{

	font-family: "Indiana";

	src: url("Indiana/Indiana Personal Use.ttf");

}

@font-face{

	font-family: "DJ Icons";

	src: url("DJ Icons/DJ Icons.ttf");

}

@font-face{

	font-family: "Proxima bold";

	src: url("proxima nova/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf");

}

@font-face{

	font-family: "Proxima";

	src: url("proxima nova/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf");

}

@font-face{

	font-family: "cantarell";

	src: url("Cantarell/Cantarell-Regular.ttf");

}

@font-face{

	font-family: "open sansl";

	src: url("open sans/openSans-Light.ttf");

}

@font-face{

	font-family: "open sans";

	src: url("open sans/openSans-Regular.ttf");

}

@font-face{

	font-family: "latol";

	src: url("lato/lato-Light.ttf");

}

@font-face{

	font-family: "lato";

	src: url("lato/lato-Medium.ttf");

}

@font-face{

	font-family: "grobold";

	src: url("grobold/grobold.ttf");

}

@font-face{

	font-family: "highlander";

	src: url("Highlander/Highlander.ttf");

}

@font-face{

	font-family: "Pateglamt";

	src: url("Pateglamt/Pateglamt.otf");

}

@font-face{

	font-family: "sketch";

	src: url("sketch/sketch 3D.otf");

}

@font-face{

	font-family: "black diamond";

	src: url("Black Diamond/Black Diamond.ttf");

}

@font-face{

	font-family: "millennial solstice";

	src: url("millennial solstice/millennial solstice.ttf");

}

@font-face{

	font-family: "Monsieur Pomme";

	src: url("Monsieur Pomme/Monsieur-Pomme.otf");

}

@font-face{

	font-family: "eras";

	src: url("Other/erasmd.ttf");

}

@font-face{

	font-family: "estre";

	src: url("Other/estre.ttf");

}

@font-face{

	font-family: "felix";

	src: url("Other/felixti.ttf");

}

@font-face{

	font-family: "gothic";

	src: url("Other/gothic.ttf");

}

@font-face{

	font-family: "leelawad";

	src: url("Other/leelawad.ttf");

}

@font-face{

	font-family: "ltype";

	src: url("Other/ltype.ttf");

}



