/*Messages*/
.messages{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 30vw;
	max-width: 55vw;
	padding: 2vw;
}
.messages .message{
	display: block;
	margin-bottom: 2vh;
	text-align: center;
	padding: 2vh 2vw;
	border-radius: 4px;
	background: rgba(10,10,10,0.9);
	color: white;
	font-family: "lato";
	font-size: 1.3vw;
	min-width: 100%;
}
.messages .message.erreur{
	background: rgba(250,3,3,.85);
}
.messages .message.info{
	background: darkblue;	
}
.messages .message .circle{
	border: 1px solid white;
	border-radius: 3vw;
	width: 1.3vw;
	height: 1.3vw;
	font-size: 1vw;
	margin-right: 1vw;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}